includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
    tmpDir: cache/phpstan
    checkOctaneCompatibility: true